<a href="https://colab.research.google.com/github/devikaajay/DSA-Case-study-on-numpy-pandas/blob/main/case_study_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Basic Exploration
Load the dataset into a Pandas DataFrame. Display:
○ The first 10 rows
○ The total number of rows and columns
○ Summary statistics for numerical columns

In [2]:
import pandas as pd
df = pd.read_csv('auto-mpg.csv')

print("First 10 rows:")
print(df.head(10))

num_rows, num_cols = df.shape
print(f"\nTotal rows: {num_rows}, Total columns: {num_cols}")

print("\nSummary statistics for numerical columns:")
print(df.describe())

First 10 rows:
    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70
5  15.0          8         429.0        198    4341          10.0          70
6  14.0          8         454.0        220    4354           9.0          70
7  14.0          8         440.0        215    4312           8.5          70
8  14.0          8         455.0        225    4425          10.0          70
9  15.0          8         390.0        190    3850           8.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino
5       1           ford galaxie 500
6       1           chevrolet impala
7       1          plymouth fury iii
8       1           pontiac catalina
9       1         amc ambassador dpl

Total rows: 398, Total columns: 9

Summary statistics for numerical columns:
              mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000

2. Filtering and Indexing
Find all cars manufactured in 1975 with a weight less than 3000. Return the
DataFrame with selected columns: car_name, weight, and mpg.

In [7]:
filtered_cars = df[(df['model year'] == 75) & (df['weight'] < 3000)]
selected_columns = filtered_cars[['car name', 'weight', 'mpg']]

print(selected_columns)

              car name  weight   mpg
167     toyota corolla    2171  29.0
168         ford pinto    2639  23.0
169        amc gremlin    2914  20.0
170      pontiac astro    2592  23.0
171      toyota corona    2702  24.0
172  volkswagen dasher    2223  25.0
173         datsun 710    2545  24.0
174         ford pinto    2984  18.0
175  volkswagen rabbit    1937  29.0
177         audi 100ls    2694  23.0
178        peugeot 504    2957  23.0
179        volvo 244dl    2945  22.0
180          saab 99le    2671  25.0
181   honda civic cvcc    1795  33.0

3. Handling Missing Data
Identify if there are any missing values in the dataset. Replace missing values in the
horsepower column with the column's median.

In [10]:
print("Missing values per column:")
print(df.isnull().sum())

median_horsepower = df['horsepower'].median()
df['horsepower'] = df['horsepower'].fillna(median_horsepower)

print("\nMissing values after handling:")
print(df.isnull().sum())

Missing values per column:
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

Missing values after handling:
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

4. Data Transformation
Add a new column power_to_weight_ratio, calculated as horsepower / weight.

In [11]:
horsepower_median = df['horsepower'].median()
df['horsepower'] = df['horsepower'].fillna(horsepower_median)
df['power_to_weight_ratio'] = df['horsepower'] / df['weight']

print(df)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model year  origin                   car name  power_to_weight_ratio
0            70       1  chevrolet chevelle malibu               0.037100
1            70       1          buick skylark 320               0.044679
2            70       1         plymouth satellite               0.043655
3            70       1              amc rebel sst               0.043694
4            70       1                ford torino               0.040591
..          ...     ...                        ...                    ...
393          82       1            ford mustang gl               0.030824
394          82       2                  vw pickup               0.024413
395          82       1              dodge rampage               0.036601
396          82       1                ford ranger               0.030095
397          82       1                 chevy s-10               0.030147

[398 rows x 10 columns]

5. Group By
Group the cars by origin and calculate the mean mpg for each group.

In [12]:
mean_mpg_by_origin = df.groupby('origin')['mpg'].mean()
print(mean_mpg_by_origin)

origin
1    20.083534
2    27.891429
3    30.450633
Name: mpg, dtype: float64

6. Sorting
Sort the DataFrame by mpg in descending order and display the top 10 cars with
the highest mpg.
Apply Function
Create a new column performance_score using a custom function:
def performance_score(row):
return row['mpg'] * row['acceleration'] / row['weight']

In [13]:
top_10_mpg = df.sort_values(by='mpg', ascending=False).head(10)
print("Top 10 cars with highest MPG:")
print(top_10_mpg)

def performance_score(row):
    return row['mpg'] * row['acceleration'] / row['weight']

df['performance_score'] = df.apply(performance_score, axis=1)

print("\nDataFrame with performance_score:")
print(df)

Top 10 cars with highest MPG:
      mpg  cylinders  displacement  horsepower  weight  acceleration  \
322  46.6          4          86.0        65.0    2110          17.9
329  44.6          4          91.0        67.0    1850          13.8
325  44.3          4          90.0        48.0    2085          21.7
394  44.0          4          97.0        52.0    2130          24.6
326  43.4          4          90.0        48.0    2335          23.7
244  43.1          4          90.0        48.0    1985          21.5
309  41.5          4          98.0        76.0    2144          14.7
330  40.9          4          85.0        93.5    1835          17.3
324  40.8          4          85.0        65.0    2110          19.2
247  39.4          4          85.0        70.0    2070          18.6

     model year  origin                         car name  \
322          80       3                        mazda glc
329          80       3              honda civic 1500 gl
325          80       2             vw rabbit c (diesel)
394          82       2                        vw pickup
326          80       2               vw dasher (diesel)
244          78       2  volkswagen rabbit custom diesel
309          80       2                        vw rabbit
330          80       2             renault lecar deluxe
324          80       3                       datsun 210
247          78       3                   datsun b210 gx

     power_to_weight_ratio
322               0.030806
329               0.036216
325               0.023022
394               0.024413
326               0.020557
244               0.024181
309               0.035448
330               0.050954
324               0.030806
247               0.033816

DataFrame with performance_score:
      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model year  origin                   car name  power_to_weight_ratio  \
0            70       1  chevrolet chevelle malibu               0.037100
1            70       1          buick skylark 320               0.044679
2            70       1         plymouth satellite               0.043655
3            70       1              amc rebel sst               0.043694
4            70       1                ford torino               0.040591
..          ...     ...                        ...                    ...
393          82       1            ford mustang gl               0.030824
394          82       2                  vw pickup               0.024413
395          82       1              dodge rampage               0.036601
396          82       1                ford ranger               0.030095
397          82       1                 chevy s-10               0.030147

     performance_score
0             0.061644
1             0.046710
2             0.057625
3             0.055928
4             0.051754
..                 ...
393           0.150968
394           0.508169
395           0.161743
396           0.198400
397           0.221103

[398 rows x 11 columns]

7. Apply this function to each row and store the result in the new column.

In [14]:
def performance_score(row):
    return row['mpg'] * row['acceleration'] / row['weight']

df['performance_score'] = df.apply(performance_score, axis=1)
print(df)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model year  origin                   car name  power_to_weight_ratio  \
0            70       1  chevrolet chevelle malibu               0.037100
1            70       1          buick skylark 320               0.044679
2            70       1         plymouth satellite               0.043655
3            70       1              amc rebel sst               0.043694
4            70       1                ford torino               0.040591
..          ...     ...                        ...                    ...
393          82       1            ford mustang gl               0.030824
394          82       2                  vw pickup               0.024413
395          82       1              dodge rampage               0.036601
396          82       1                ford ranger               0.030095
397          82       1                 chevy s-10               0.030147

     performance_score
0             0.061644
1             0.046710
2             0.057625
3             0.055928
4             0.051754
..                 ...
393           0.150968
394           0.508169
395           0.161743
396           0.198400
397           0.221103

[398 rows x 11 columns]

8. Visualization Preparation
Generate a summary DataFrame with:
○ Average mpg, weight, and horsepower for each model_year

In [16]:
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mean())
summary_df = df.groupby('model year')[['mpg', 'weight', 'horsepower']].mean()
print(summary_df)

                  mpg       weight  horsepower
model year
70          17.689655  3372.793103  147.827586
71          21.250000  2995.428571  106.553571
72          18.714286  3237.714286  120.178571
73          17.100000  3419.025000  130.475000
74          22.703704  2877.925926   94.203704
75          20.266667  3176.800000  101.066667
76          21.573529  3078.735294  101.117647
77          23.375000  2997.357143  105.071429
78          24.061111  2861.805556   99.694444
79          25.093103  3055.344828  101.206897
80          33.696552  2436.655172   78.586207
81          30.334483  2522.931034   81.465517
82          31.709677  2453.548387   81.854839

9. Exporting Data
Save a subset of the data containing only mpg, cylinders, horsepower, and weight
for cars with mpg > 30 into a CSV file named high_mpg_cars.csv.

In [17]:
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mean())

high_mpg_cars = df[df['mpg'] > 30]
selected_columns = high_mpg_cars[['mpg', 'cylinders', 'horsepower', 'weight']]
selected_columns.to_csv('high_mpg_cars.csv', index=False)  # index=False avoids writing row indices

print("Subset saved to high_mpg_cars.csv")

Subset saved to high_mpg_cars.csv

10. Finding Anomalies
Identify potential outliers in the mpg column using the Interquartile Range (IQR)
method. Specifically:
● Calculate the IQR for mpg.

In [19]:
Q1 = df['mpg'].quantile(0.25)
Q3 = df['mpg'].quantile(0.75)
IQR = Q3 - Q1

print(f"IQR for mpg: {IQR}")

IQR for mpg: 11.5